#### CLAS TASK

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Read the downloaded CSV file
df = pd.read_csv('food_consumption.csv')
df.head()

   Unnamed: 0    country food_category  consumption  co2_emission
0           1  Argentina          pork        10.51         37.20
1           2  Argentina       poultry        38.66         41.53
2           3  Argentina          beef        55.48       1712.00
3           4  Argentina     lamb_goat         1.56         54.63
4           5  Argentina          fish         4.36          6.96

In [ ]:
#Is the beef consumption in Argentina significantly different from that in Bangladesh?

beef_consumption_argentina = df[df['country'] == 'Argentina']['consumption'].values[2]
beef_consumption_bangladesh = df[df['country'] == 'Bangladesh']['consumption'].values[2]
print(beef_consumption_argentina, beef_consumption_bangladesh)

: