#### CLAS TASK

In [3]:
import numpy as np
import pandas as pd

In [4]:
# Read the downloaded CSV file
df = pd.read_csv('food_consumption.csv')
df.head()

   Unnamed: 0    country food_category  consumption  co2_emission
0           1  Argentina          pork        10.51         37.20
1           2  Argentina       poultry        38.66         41.53
2           3  Argentina          beef        55.48       1712.00
3           4  Argentina     lamb_goat         1.56         54.63
4           5  Argentina          fish         4.36          6.96

In [10]:
df

      Unnamed: 0     country food_category  consumption  co2_emission
0              1   Argentina          pork        10.51         37.20
1              2   Argentina       poultry        38.66         41.53
2              3   Argentina          beef        55.48       1712.00
3              4   Argentina     lamb_goat         1.56         54.63
4              5   Argentina          fish         4.36          6.96
...          ...         ...           ...          ...           ...
1425        1426  Bangladesh         dairy        21.91         31.21
1426        1427  Bangladesh         wheat        17.47          3.33
1427        1428  Bangladesh          rice       171.73        219.76
1428        1429  Bangladesh      soybeans         0.61          0.27
1429        1430  Bangladesh          nuts         0.72          1.27

[1430 rows x 5 columns]

In [5]:
#Is the beef consumption in Argentina significantly different from that in Bangladesh?

beef_consumption_argentina = df[df['country'] == 'Argentina']['consumption'].values[2]
beef_consumption_bangladesh = df[df['country'] == 'Bangladesh']['consumption'].values[2]
print(beef_consumption_argentina, beef_consumption_bangladesh)

55.48 1.28

In [ ]:
#H₀: Mean beef consumption (Argentina) = Mean beef consumption (Bangladesh)
from scipy import stats
t_stat, p_value = stats.ttest_ind_from_stats(
    mean1=beef_consumption_argentina, std1=0.1, nobs1=1,
    mean2=beef_consumption_bangladesh, std2=0.1, nobs2=1,
    equal_var=False
)
print(f"T-statistic: {t_stat}, P-value: {p_value}")
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference in beef consumption between Argentina and Bangladesh.")

else:
    print("Fail to reject the null hypothesis: There is no significant difference in beef consumption between Argentina and Bangladesh.")

T-statistic: 383.25187540310867, P-value: nan
Fail to reject the null hypothesis: There is no significant difference in beef consumption between Argentina and Bangladesh.

In [7]:
#H₁: Mean beef consumption (Argentina) ≠ Mean beef consumption (Bangladesh)
from scipy import stats
t_stat, p_value = stats.ttest_ind_from_stats(   
    mean1=beef_consumption_argentina, std1=0.1, nobs1=1,
    mean2=beef_consumption_bangladesh, std2=0.1, nobs2=1,
    equal_var=False
)
print(f"T-statistic: {t_stat}, P-value: {p_value}")

T-statistic: 383.25187540310867, P-value: nan